body
{
	margin: 0;
}


#nav
{
	background-color: white;
	float: left;
	width: 10%;
	height: 100%;
	
}

.fond
{
	width: 100%;
	height: 100%;

	margin-left: auto;
	margin-right: auto;
	background-color: grey;

	
}

#feuille
{
	margin-top: 5%;
	background-color: white;
	margin-left: 15%;
	border-radius: 15px;
}

input
{
	width:135px;
}